* {
  font-family: 'montserrat', sans-serif;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* the global standard to constrain page width to a maximum of 1560px  across the site */
.page-width {
  max-width: 1560px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
