/*
  CART DRAWER STYLES
*/


/* styles applied when cart is triggered */
.cart-drawer[open] .cart-drawer--inner {
  transform: translateX(0);
}

.cart-drawer[open] .cart-drawer--close-button {
  left: -44px;
}

.cart-drawer[open] .cart-drawer--overlay {
  display: block;
}

.cart-drawer--overlay {
  height: 100vh;
  width: 100vw;
  background: #FFF;
  z-index: 100;
  position: fixed;
  opacity: 0.65;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.cart-drawer--inner {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transition: .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(100%);
}

/* close button */
.cart-drawer--close-button {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  transition: .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* cart header */
.cart-drawer--header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.cart-drawer--heading {
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0px;
}

.cart-drawer--clear-button {
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #5D5F63;
  cursor: pointer;
}

/* cart items */
.cart-drawer--items {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #CCD0D6;
  max-height: 70vh;
  overflow-y: auto;
}

/* hide scrollbar */
.cart-drawer--items::-webkit-scrollbar {
  width: 0px
}

.cart-drawer--empty-message {
  font-size: 18px;
  line-height: 18px;
}

.cart-drawer--continue-shopping {
  display: block;
  margin-top: 24px;
  width: fit-content;
  text-decoration: underline;
  font-weight: 500
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  background: #FFF;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item--top-half {
  display: flex;
  align-items: start;
  gap: 8px;
}

.cart-item--image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 2px;
}

.cart-item--title {
  font-size: 14px;
  line-height: 16px;
}

.cart-item--variant-title {
  font-size: 12px;
  line-height: 150%;
}

.cart-item--remove {
  height: 14px;
  width: 14px;
  display: flex;
  margin-left: auto;
  flex: 0 0 14px;
  cursor: pointer;
}

.cart-item--bottom-half {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item--price {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

/* I realise I should have created global styling for the quantity input but I ran out of time to restructure */
.cart-item--quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-item--quantity .minus, .cart-item--quantity .plus {
  border-radius: 100%;
  height: 28px;
  width: 28px;
  background: #E9ECF0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.cart-item--quantity input[type="number"] {
  font-weight: 700;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: 1px solid #CCD0D6;
  text-align: center;
}

.cart-item--quantity .minus .icon {
  display: flex;
  height: 12px;
  width: 12px;
}

.cart-item--quantity .plus .icon {
  display: flex;
  height: 20px;
  width: 20px;
}

/* cart footer */
.cart-drawer--footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.cart-drawer--footer-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cart-drawer--item-count {
  font-size: 14px;
  line-height: 150%;
}

.cart-drawer--total {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
}

.cart-drawer--rewards-button {
  border-radius: 6px;
  width: 100%;
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  border: none;
  height: 33px;
  cursor: pointer;
  background: linear-gradient(90deg,rgba(254, 197, 32, 1) 0%, rgba(248, 157, 49, 1) 50%, rgba(249, 109, 0, 1) 100%);
}

.cart-drawer--checkout-button {
  background: #000;
  color: #FFF;
  border-radius: 40px;
  padding: 12px 30px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}